environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C %APPVEYOR_BUILD_FOLDER%\\ci\\appveyor\\run_with_env.cmd"
    PYTHONUNBUFFERED: 1
    OPENSSL_VER: 1.0.2l
    PYPI_USER:
      secure: 2m0jy6JD/R9RExIosOT6YA==
    PYPI_PASS:
      secure: x+dF0A8BZUf2IrPNRN1O0w==
  matrix:
    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "32"
      MSVC: "Visual Studio 9"
      ARCH: i386

    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "64"
      MSVC: "Visual Studio 9"
      ARCH: x64_86

    - PYTHON: "C:\\Python34"
      PYTHON_VERSION: "3.4"
      PYTHON_ARCH: "32"
      MSVC: "Visual Studio 10"
      ARCH: i386

    - PYTHON: "C:\\Python34-x64"
      PYTHON_VERSION: "3.4"
      PYTHON_ARCH: "64"
      MSVC: "Visual Studio 10 Win64"
      ARCH: x64_86

    - PYTHON: "C:\\Python35"
      PYTHON_VERSION: "3.5"
      PYTHON_ARCH: "32"
      MSVC: "Visual Studio 14"
      ARCH: i386

    - PYTHON: "C:\\Python35-x64"
      PYTHON_VERSION: "3.5"
      PYTHON_ARCH: "64"
      MSVC: "Visual Studio 14 Win64"
      ARCH: x64_86

    - PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "32"
      MSVC: "Visual Studio 14"
      ARCH: i386

    - PYTHON: "C:\\Python36-x64"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
      MSVC: "Visual Studio 14 Win64"
      ARCH: x64_86

install:
  # If there is a newer build queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose but it is problematic because it tends to cancel builds pushed
  # directly to master instead of just PR builds (or the converse).
  # credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
        https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
        Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          throw "There are newer queued builds for this pull request, failing early." }
  - ECHO "Installed SDKs:"
  - ps: "ls \"C:/Program Files/Microsoft SDKs/Windows\""

  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""

  # - "pip install --disable-pip-version-check --user --upgrade pip"

  - git submodule update --init --recursive
  - appveyor DownloadFile http://zlib.net/zlib1211.zip
  - 7z x zlib1211.zip
  - appveyor DownloadFile https://indy.fulgan.com/SSL/openssl-%OPENSSL_VER%-%ARCH%-win%PYTHON_ARCH%.zip
  - 7z x openssl-%OPENSSL_VER%-%ARCH%-win%PYTHON_ARCH%.zip
  - cp ssleay32.dll pssh\native\
  - cp libeay32.dll pssh\native\
  - ps: ls pssh\native
  - "%CMD_IN_ENV% pip install -r requirements.txt"
  - "%CMD_IN_ENV% pip install -U wheel setuptools twine"

build_script:
  - "%CMD_IN_ENV% ci\\appveyor\\build_zlib.bat"
  - "%CMD_IN_ENV% ci\\appveyor\\build_ssh2.bat"
  - "%CMD_IN_ENV% python setup.py build_ext -i"

test_script:
  - python -c "import pssh.clients"

after_test:
  # If tests are successful, create binary packages for the project.
  - "%CMD_IN_ENV% python setup.py bdist_wheel"
  - mv dist/* .

artifacts:
  # Archive the generated packages in the ci.appveyor.com build report.
  - path: "*.whl"

deploy_script:
  - IF "%APPVEYOR_REPO_TAG%" == "true"( python ci/appveyor/pypi_upload.py *.whl )
