language: python
cache:
  - pip
  - directories:
      - "$HOME/.pyenv"
      - "$HOME/Library/Caches/Homebrew"
      - "$HOME/.git/lfs"
notifications:
  email: false
services:
  - docker
python:
  - 2.7
  - 3.6
  - 3.7
  - 3.8
addons:
  apt:
    packages:
      - openssh-server
      - rpm
      - dpkg
      - cmake
before_install:
  - pip install -U pip setuptools
install:
  - pip install -U -r requirements_dev.txt
script:
  # For testing SSH agent related functionality
  - eval `ssh-agent -s`
  - pytest --reruns 5 --cov-append --cov=pssh tests/test_native_tunnel.py
  - pytest --reruns 5 --cov-append --cov=pssh tests/test_native_*_client.py
  - pytest --reruns 5 --cov-append --cov=pssh tests/ssh_lib
  - pytest --reruns 5 --cov-append --cov=pssh tests/test_paramiko*.py
  - flake8 pssh
  - cd doc; make html; cd ..
  # Test building from source distribution
  - python setup.py sdist
  - cd dist; pip install *; cd ..
  - python setup.py check --restructuredtext
after_success:
  - codecov

jobs:
  include:

    - stage: test
      if: (type = push OR \
          (type = pull_request AND fork = true)) AND \
          tag IS blank

    - &osx-wheels
      stage: build packages
      if: tag IS present
      os: osx
      osx_image: xcode11.6
      before_install:
        - sudo -H pip install twine
        - which twine
      install: skip
      script:
        - ./ci/osx-wheel.sh
      after_success:
        - if [[ ! -z "$TRAVIS_TAG" ]]; then
              twine upload --skip-existing -u $PYPI_U -p $PYPI_P wheels/*.whl;
          fi
      language: generic
      python: skip

    - <<: *osx-wheels
      osx_image: xcode11.3

    - stage: build packages
      if: tag IS present
      env:
        - WHEELS=1
      os: linux
      python: 3.6
      before_install: skip
      install:
        - pip install twine
      script:
        - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" &&
          ./ci/travis/build-manylinux.sh;
      after_success:
        - if [[ ! -z "$TRAVIS_TAG" ]]; then
            twine upload --skip-existing -u $PYPI_U -p $PYPI_P wheelhouse/*.whl;
          fi
      deploy:
        - provider: pypi
          user: pkittenis
          password:
            secure: ZQJ41Nguc7Y5XHvtN8lITIiW1S1jvy0p50rssMUJpa9wVZIh0HcW0K/Xv2v17fDNuOvQlVbsF0sY/BmcRfH7c7nzwt7fRXGOjXbZk5djqwusKXL6zlVN7OKjAY6j2EByOjD9UpDDkB5tDqb4lRBCX87wknii/t+7/8P0ddoBojM=
          on:
            repo: ParallelSSH/parallel-ssh
            tags: true
          distributions: sdist
          skip_upload_docs: true
          skip_cleanup: true
