language: python
cache:
  - pip
  - directories:
      - "$HOME/.pyenv"
sudo: required
notifications:
  email: false
services:
  - docker
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
addons:
  apt:
    packages:
      - openssh-server
      - rpm
      - dpkg
      - cmake
before_install:
  - pip install -U pip setuptools
install:
  - pip install -r requirements_dev.txt
script:
  # For testing SSH agent related functionality
  - eval `ssh-agent -s`
  - nosetests --with-coverage --cover-package=pssh --nologcapture tests/test_native_tunnel.py
  - nosetests --with-coverage --cover-package=pssh tests/test_native_*_client.py
  - nosetests --with-coverage --cover-package=pssh tests/ssh_lib
  - nosetests --with-coverage --cover-package=pssh tests/test_paramiko*.py
  - flake8 pssh
  - cd doc; make html; cd ..
  # Test building from source distribution
  - python setup.py sdist
  - cd dist; pip install *; cd ..
  - python setup.py check --restructuredtext
after_success:
  - codecov

jobs:
  include:

    - stage: build packages
      env:
        - WHEELS=1
      os: linux
      python: 3.6
      before_install: skip
      install:
        - pip install twine
      script:
        - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" &&
          ./ci/travis/build-manylinux.sh;
      after_success:
        - if [[ ! -z "$TRAVIS_TAG" ]]; then
            twine upload --skip-existing -u $PYPI_U -p $PYPI_P wheelhouse/*.whl;
          fi
      deploy:
        - provider: pypi
          user: pkittenis
          password:
            secure: ZQJ41Nguc7Y5XHvtN8lITIiW1S1jvy0p50rssMUJpa9wVZIh0HcW0K/Xv2v17fDNuOvQlVbsF0sY/BmcRfH7c7nzwt7fRXGOjXbZk5djqwusKXL6zlVN7OKjAY6j2EByOjD9UpDDkB5tDqb4lRBCX87wknii/t+7/8P0ddoBojM=
          on:
            repo: ParallelSSH/parallel-ssh
            tags: true
          distributions: sdist
          skip_upload_docs: true
          skip_cleanup: true

    - &osx-wheels
      stage: build packages
      os: osx
      osx_image: xcode8
      env:
        - PYENV: 3.6.4
      before_install:
        - brew update
        - brew link --overwrite python@2 || brew install python@2 || brew link --overwrite python@2
        - which python2
        - sudo -H pip2 install twine
        - which twine
        - mkdir -p wheels
      install:
        - sudo -H pip2 install -U delocate wheel pip setuptools
        - ls -lh
        - pip2 install --user -r requirements.txt
      script:
        - pip2 wheel --no-deps .
        - delocate-listdeps --all *.whl
        - delocate-wheel -v *.whl
        - delocate-listdeps --all *.whl
        - ls -l *.whl
        - rm -f *.dylib
        - pip2 install --user -v *.whl
        - pwd; mkdir temp; cd temp; pwd
        - python -c "import pssh.clients"
        - cd ..; pwd
        - mv -f *.whl wheels/
        - ./ci/travis/pyenv-wheel.sh
      after_success:
        - if [[ ! -z "$TRAVIS_TAG" ]]; then
              twine upload --skip-existing -u $PYPI_U -p $PYPI_P wheels/*.whl;
          fi
      language: generic
      python: skip

    - <<: *osx-wheels
      osx_image: xcode6.4

    - <<: *osx-wheels
      osx_image: xcode6.4
      env:
        - PYENV: 3.7.0
      install: skip
      script:
        - ./ci/travis/pyenv-wheel.sh

    - <<: *osx-wheels
      osx_image: xcode9.2

    - <<: *osx-wheels
      osx_image: xcode9.4

    - <<: *osx-wheels
      osx_image: xcode8
      env:
        - PYENV: 3.7.0
      install: skip
      script:
        - ./ci/travis/pyenv-wheel.sh

    - <<: *osx-wheels
      osx_image: xcode9.2
      env:
        - PYENV: 3.7.0
      install: skip
      script:
        - ./ci/travis/pyenv-wheel.sh

    - <<: *osx-wheels
      osx_image: xcode9.4
      env:
        - PYENV: 3.7.0
      install: skip
      script:
        - ./ci/travis/pyenv-wheel.sh

    - os: linux
      stage: build packages
      env:
        - SYSTEM_PACKAGES=1
      python: 3.6
      before_install: skip
      install: skip
      script:
        - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
        - ./ci/docker/build-packages.sh
      deploy:
        - provider: releases
          skip_cleanup: true
          api_key:
            secure: hKf+D9ZWRCJWNQtlOWeFh7z1a+VSz+GK5qOY0e1+iV/PrM0f41wy2yej0bxG1zS6CQAnJBK6/gmq5uXXhQhGNQeIQs7zElyKlrijQAn5UstPPJTRIk2oywRr2b+q0k3V42tto6WbhjqPRpOQl/pNTjKJCc/UPgd6kOVZEhCfAec=
          file_glob: true
          file: '*.{deb,rpm}'
          on:
            repo: ParallelSSH/parallel-ssh
            tags: true
