version: 2.1

orbs:
  python: circleci/python@0.3.2

jobs:
  python_test:
    parameters:
      python_ver:
        type: string
        default: "3.6"
    docker:
      - image: circleci/python:<< parameters.python_ver >>
    steps:
      - checkout
      - python/load-cache:
          dependency-file: requirements_dev.txt
          key: depsv3-{{ .Branch }}.{{ arch }}-PY<< parameters.python_ver >>
      - run:
          name: Deps
          command: |
            sudo apt-get install openssh-server --fix-missing
      - run:
          command: |
            pip install -U -r requirements_dev.txt
          name: Build
      - python/save-cache:
          dependency-file: requirements_dev.txt
          key: depsv3-{{ .Branch }}.{{ arch }}-PY<< parameters.python_ver >>
      - run:
          command: |
            python setup.py check --restructuredtext
          name: Check readme
      - run:
          command: |
            flake8 pssh
          name: flake
      - run:
          command: |
            set -x
            eval "$(ssh-agent -s)"
            pytest
          name: Integration tests
      - run:
          command: |
            cd doc; make html
            cd ..
          name: make docs
      - run:
          command: |
            python setup.py sdist
            cd dist; pip install *
            cd ..
          name: Source dist install
      - run:
          command: codecov
          name: Coverage

  release:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - python/load-cache:
          key: releasedepsv1-{{ .Branch }}.{{ arch }}
          dependency-file: requirements.txt
      - run:
          name: Deps
          command: |
            sudo apt-get install python3-pip
            pip install -U pip
            pip install -U twine
            which twine
      - python/save-cache:
          key: releasedepsv1-{{ .Branch }}.{{ arch }}
          dependency-file: requirements.txt
      - run:
          name: Build Wheels/Source Dist
          command: |
            pip wheel --no-deps . -w dist
            python setup.py sdist
            ls -lh dist
      - run:
          name: PyPi Upload
          command: |
            twine upload --skip-existing -u $PYPI_USER -p $PYPI_PASSWORD dist/*

workflows:
  version: 2.1
  main:
    jobs:
      - python_test:
          matrix:
            parameters:
              python_ver:
                - "3.6"
                - "3.7"
                - "3.8"
          filters:
            tags:
              ignore: /.*/
      - release:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
